{% block content %}

<form action="/" method="POST", enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="image" accept="image/jpeg, image/png">
    <input type="submit" value="Upload">
</form>

<h1>Uploaded Image</h1>

    {% if uploaded_image %}
        <img src="{{ uploaded_image.image.url }}" alt="Uploaded Image">
        <h1>Predicted Result: {{ predicted_value }}</h1>
        <h1>Summary: </h1>
        <h1>{{ summary }}</h1> 
    {% else %}
        <p>No image uploaded.</p>
    {% endif %}

{% endblock content %}